div.wholeForm-BookForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form.form-BookForm {
    text-align: center;
}

.label-BookForm {
    font-weight: bold;
}

input.input-BookForm {
    margin-top: 5px;
    padding: 8px;
    width: 300px;
}

.p-BookForm {
    margin-top: 10px;
}

.btn-BookForm {
    margin-top: 10px;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-BookForm:hover {
    background-color: #6089e9;
}

.green {
    background-color: #4CAF50;
}

.red {
    background-color: rgb(248, 93, 93);
}